<ion-content [fullscreen]="true">
  <div *ngIf="studentData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{studentData.gradeData.subject}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let grade of studentData.gradeData.grades; let i = index">
            <ion-label>{{grade.title}}</ion-label>
            <input [formControl]="formControlsArray[i]" />
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="saveForm()" color="primary" shape="round" class="centered-button">Save</ion-button>
  </div>
</ion-content>
