<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title *ngIf="userInfo" size="large">{{userInfo.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <p (click)="signOut()">Вийти</p>
  <p>Інформація про користувача</p>

  <div>
    <a [routerLink]="'view-certificate'"><p>Створити довідку</p></a>
    <a [routerLink]="['./grades']"><p>Додати навчальну дисципліну</p></a>
    <a [routerLink]="['create-user']"><p>Додати користувача</p></a>
    <a [routerLink]="['users']"><p>Переглянути користувачів</p></a>
  </div>
</ion-content>
