<ion-item lines="none" class="item-native-paddingless mt-5 mx-auto ion-no-padding" style="width: 300px">
  <ionic-selectable
    [(ngModel)]="chosenUser"
    [items]="userArray"
    [isMultiple]="false"
    itemTextField="name"
    [canSearch]="true"
    [placeholder]="selectedRole === Role.Student ? 'Обрати студента' : 'Обрати викладача'"
    class="border-medium px-1 mb-5"
  >
  </ionic-selectable>
</ion-item>
<div class="d-flex justify-content-center">
  <ion-button (click)="toggleModal()" *ngIf="chosenUser" id="open-modal">Переглянути згенеровану довідку</ion-button>
</div>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{chosenUser.name}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="selectedRole === Role.Student" class="ion-padding">
      <div [innerHTML]="universityAuthorityService.generateStudentCertificate(chosenUser, id)"></div>
      <ion-button (click)="saveStudentCertificate()" class="text-default ms-0">Зберегти</ion-button>
    </ion-content>
    <ion-content *ngIf="selectedRole === Role.Teacher" class="ion-padding">
      <div [innerHTML]="universityAuthorityService.generateTeacherCertificate(chosenUser, id)"></div>
      <ion-button (click)="saveTeacherCertificate()" class="text-default ms-0">Зберегти</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
