.bg-white {
  background-color: #fff !important;
}
.bg-secondary {
  background-color: var(--ion-color-secondary) !important;
}
.bg-primary {
  background-color: var(--ion-color-primary) !important;
}
.bg-pink {
  --ion-background-color: #EFE7FB !important;
}
.bg-input-grey {
  --background: var(--ion-color-step-100) !important;
}
.text-black {
  color: #000 !important;
}
.text-dark-grey {
  color: #50555C !important;
}
.text-success {
  color: #5C9B4C !important;
}
.text-danger {
  color: var(--ion-color-danger) !important;
}
.border-medium {
  border: 1px solid var(--ion-color-medium) !important;
  box-shadow: none;
  border-radius: 10px;
}

