.text-input {
  width: 100%;
  height: 58px;
  background-color: var(--ion-color-step-100);
  border: 1px solid var(--ion-color-step-200);
  border-radius: $text-input-border-radius;
  padding: 0 16px !important;
  font-size: 16px;
  &:focus {
    outline: none;
  }

  &-inner {
    width: 100%;
    height: 50px;
    background-color: var(--ion-color-step-100);
    font-size: 16px;
    outline: none;
    padding: 0;
    border: none;
  }
}

.centered-input {
  width: calc(100% - 4 * $space);
  @media screen and (min-width: 700px) {
    width: 60%;
  }
}

.has-focus.ion-valid.sc-ion-input-md-h, .ion-touched.ion-invalid.sc-ion-input-md-h {
  --highlight-color: var(--ion-color-primary);
}

.input-highlight {
  background: transparent !important;
}

.overflow-auto {
  overflow: auto;
}
