.l1 {
  font-size: 16px;
  font-weight: 700;
}
.l2 {
  font-size: 16px;
  font-weight: 400;
}
.d1 {
  font-size: 14px;
  font-weight: 700;
}
.d2 {
  font-size: 14px;
  font-weight: 400;
}
.s1 {
  font-size: 12px;
  font-weight: 700;
}
.s2 {
  font-size: 12px;
  font-weight: 400;
}
.t1 {
  font-size: 32px;
  font-weight: 700;
}
.t2 {
  font-size: 32px;
  font-weight: 400;
}
