<ion-content [fullscreen]="true">
  <span class="d-flex justify-content-center f25-1 mb-5" [ngClass]="sharedService.getScreenWidth().valueOf() > 800 ? 'mt-101px' : 'mt-5'">Кабінет користувача</span>
  <ion-list class="mx-3">
    <p class="l1 mb-1 mt-0 text-dark-grey">ПІБ</p>
    <p class="l1 my-0">{{userInfo.name}}</p>
    <hr class="bg-primary mb-2"/>
    <p class="l1 mb-1 mt-0 text-dark-grey">Роль в системі</p>
    <p class="l1 my-0">{{userInfo.role}}</p>
    <hr class="bg-primary mb-2"/>
    <p class="l1 mb-1 mt-0 text-dark-grey">Email</p>
    <p class="l1 my-0">{{userInfo.email}}</p>
    <hr class="bg-primary mb-2"/>
    <p class="l1 mb-1 mt-0 text-dark-grey">Роль в системі</p>
    <p class="l1 my-0">{{userInfo.role}}</p>
    <hr class="bg-primary mb-2"/>
    <ng-container *ngIf="userInfo.role !== UserRole.InstitutionRepresentative">
      <p class="l1 mb-1 mt-0 text-dark-grey">Дата народження</p>
      <p class="l1 my-0">{{userInfo.birthDate}}</p>
      <hr class="bg-primary mb-2"/>
      <p class="l1 mb-1 mt-0 text-dark-grey">Університет</p>
      <p class="l1 my-0">{{userInfo.university}}</p>
      <hr class="bg-primary mb-2"/>
    </ng-container>
    <ng-container *ngIf="userInfo.role === UserRole.Student">
      <p class="l1 mb-1 mt-0 text-dark-grey">Курс</p>
      <p class="l1 my-0">{{userInfo.course}}</p>
      <hr class="bg-primary"/>
      <p class="l1 mb-1 mt-0 text-dark-grey">Факультет</p>
      <p class="l1 my-0">{{userInfo.faculty}}</p>
      <hr class="bg-primary"/>
      <p class="l1 mb-1 mt-0 text-dark-grey">Група</p>
      <p class="l1 my-0">{{userInfo.group}}</p>
      <hr class="bg-primary mb-2"/>
    </ng-container>
    <ng-container *ngIf="userInfo.role === UserRole.InstitutionRepresentative">
      <p class="l1 mb-1 mt-0 text-dark-grey">Назва установи</p>
      <p class="l1 my-0">{{userInfo.institution}}</p>
      <hr class="bg-primary mb-2"/>
    </ng-container>
  </ion-list>
</ion-content>
