<ion-content [fullscreen]="true">
  <form [formGroup]="certificateForm">
    <p>Створити довідку:</p>
    <ion-segment value="student" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="student">
        <ion-label>Для студента</ion-label>
      </ion-segment-button>
      <ion-segment-button value="teacher">
        <ion-label>Для викладача</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="selectedRole === Role.Student">
      <ion-title>Обрати студента</ion-title>
      <app-certificate [selectedRole]="Role.Student" [userArray]="studentArray"></app-certificate>
    </div>
    <div *ngIf="selectedRole === Role.Teacher">
      <ion-title>Обрати викладача</ion-title>
      <app-certificate [selectedRole]="Role.Teacher" [userArray]="teacherArray"></app-certificate>
    </div>
  </form>
</ion-content>
