<ion-content [fullscreen]="true">
  <form [formGroup]="certificateForm">
    <p>Створити довідку:</p>
    <ion-segment value="student" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="student">
        <ion-label>Для студента</ion-label>
      </ion-segment-button>
      <ion-segment-button value="teacher">
        <ion-label>Для викладача</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="selectedRole === Role.Student">
      <ion-title>Обрати студента</ion-title>
      <div>
        <ion-select formControlName="student" label="Обрати студента">
          <ion-select-option *ngFor="let student of studentArray" [value]="student">
            {{student.name}}
          </ion-select-option>
        </ion-select>
        <ion-button (click)="toggleStudentModal()" *ngIf="certificateForm.get('student')?.value" id="open-modal">Переглянути згенеровану довідку</ion-button>
        <ion-modal [isOpen]="isStudentModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>{{$any(certificateForm.get('student')?.value).name}}</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="toggleStudentModal()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <div [innerHTML]="universityAuthorityService.generateStudentCertificate(certificateForm.get('student')?.value, id)"></div>
              <ion-button (click)="saveStudentCertificate()">Зберегти</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </div>
    <div *ngIf="selectedRole === Role.Teacher">
      <ion-title>Обрати викладача</ion-title>
      <div>
        <ion-select formControlName="teacher" label="Обрати викладача">
          <ion-select-option *ngFor="let teacher of teacherArray" [value]="teacher">
            {{teacher.name}}
          </ion-select-option>
        </ion-select>
        <ion-button (click)="toggleTeacherModal()" *ngIf="certificateForm.get('teacher')?.value">Переглянути згенеровану довідку</ion-button>
        <ion-modal [isOpen]="isTeacherModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>{{$any(certificateForm.get('teacher')?.value).name}}</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="toggleTeacherModal()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <div [innerHTML]="universityAuthorityService.generateTeacherCertificate(certificateForm.get('teacher')?.value, id)"></div>
              <ion-button (click)="saveTeacherCertificate()">Зберегти</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </div>
  </form>
</ion-content>
