<ion-content [fullscreen]="true">
  <p class="d-flex justify-content-center align-items-center f25-1 mb-4 mx-1" [ngClass]="sharedService.getScreenWidth().valueOf() >= 800 ? 'mt-101px' : 'mt-5'">
    <ion-icon name="library-outline" color="primary" class="icon-40px me-1"></ion-icon>
    <span>Перегляд поточних дисциплін</span>
  </p>
  <div class="d-flex gap-3 flex-wrap align-items-center justify-content-center">
    <ion-card *ngFor="let subject of subjectArray; let i = index" class="subject-card border-medium" [ngClass]="{'subject-card-mobile mx-3': sharedService.getScreenWidth().valueOf() < 800}">
      <ion-card-header>
        <div class="d-flex justify-content-between align-items-center">
          <ion-card-title class="text-black fw-700">{{subject.subject}}</ion-card-title>
          <ion-button (click)="toggleModal(subject, i)" class="text-default l2">Редагувати</ion-button>
        </div>
      </ion-card-header>
      <ion-card-content>
        <p class="l1 text-black">Поля для виставлення оцінок:</p>
        <ion-list>
          <ion-item *ngFor="let field of subject.gradesArray[0].grades">
            <ion-label>{{field.title}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{chosenSubject.subject}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleModal(chosenSubject, subjectIndex)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-title class="p-0 fw-700 mx-auto text-center mb-2">Поля для виставлення оцінок</ion-title>
      <div *ngFor="let field of chosenSubject.gradesArray[0].grades">
        <p class="text-center m-0 l2">{{field.title}}</p>
      </div>
      <ion-title class="p-0 fw-700 mx-auto text-center my-2">Додати нові поля:</ion-title>
      <div *ngFor="let control of subjectsFormControlArray">
        <ion-input [formControl]="control" class="text-input" />
      </div>
      <div class="d-flex gap-3 justify-content-between mt-2">
        <ion-button (click)="addNewField()" class="l2 text-default">Додати поле</ion-button>
        <ion-button (click)="saveFields()" class="l2 text-default">Зберегти</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
