<ion-content [fullscreen]="true" *ngIf="studentData">
  <div *ngFor="let subject of studentData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{subject.subject}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="subject.students">
          <p>Студенти:</p>
          <div *ngFor="let student of subject.students">
            <p [routerLink]="subject.subject + '/student/' + student.uid">{{student.name}}</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
